{% extends "base.html.twig" %}

{% block title %}
    SymRecipe - Accueil
{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="container mt-5">
        <h2>I love Paris !</h2>
            <div class="mt-4 p-5 bg-primary text-white rounded">
                <h1>Good</h1> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore . dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p> 
            </div>
        <button type="button" class="btn btn-secondary">Vueillez cliquer</button>
    </div>
</div> 

{% endblock %}

